@page


<div>
    <form id="enterForm">
        <input id ="login" placeholder="Введите логин" />
        <input id="pass" placeholder="Введите пароль" type="password"/>
        <button type="submit">Войти</button>
    </form>
</div>

@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            document.getElementById('enterForm').addEventListener('submit', async function (e) {
                e.preventDefault();
                try {
                    const login = document.getElementById('login').value;
                    const password = document.getElementById('pass').value;
                    const response = await fetch(`http://localhost:3000/users?login=${encodeURIComponent(login)}&password=${encodeURIComponent(password)}`);
                    const data = await response.json();
                    alert(`Пользователь ${data[0].name} найден`)
                }
                catch {
                    alert('Такого пользователя не существует')
                }
            });
        });
    </script>
}
