@page


<div>
    <form id="enterForm">
        <div class="mb-4">
            <label for="login" class="form-label" style="font-size: 24px;">Введите e-mail</label>
            <input type="email" class="form-control form-control-lg rounded" id="login" placeholder="example@example.com" required>
        </div>
        <div class="mb-4">
            <label for="pass" class="form-label" style="font-size: 24px;">Введите пароль</label>
            <input type="password" class="form-control form-control-lg rounded" id="pass" placeholder="********" required>
        </div>
        <div class="mb-4">
            <button type="submit" class="btn-primary btn-lg w-100 rounded">Войти</button>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            document.getElementById('enterForm').addEventListener('submit', async function (e) {
                e.preventDefault();
                try {
                    const login = document.getElementById('login').value;
                    const password = document.getElementById('pass').value;
                    const response = await fetch(`http://localhost:3000/users?login=${encodeURIComponent(login)}&password=${encodeURIComponent(password)}`);
                    const data = await response.json();
                    location.href = `/Profile/${data[0].id}`;
                }
                catch {
                    alert('Такого пользователя не существует')
                }
            });
        });
    </script>
}
